.bmd-layout-content .outlet-avatar{
    left: 17%;
}

.bmd-layout-content .cards{
    height:500px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .bmd-layout-content .outlet-avatar{
        left: 13%;
    }

    .bmd-layout-content .cards{
        height: 460px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .bmd-layout-content .cards{
        height: 460px;
    }

    .bmd-layout-content .outlet-avatar{
        left: 7%;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .bmd-layout-content .cards {
        height: 460px;
    }

    .bmd-layout-content .outlet-avatar {
        left: 7%;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .bmd-layout-content .cards .card_in {
        width: 100%;
    }

    .bmd-layout-content .outlet-avatar {
        left: 1%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1441.98px){
    .bmd-layout-content .cards .card_in {
        width: 100%;
    }

    .bmd-layout-content .outlet-avatar {
        left: 8%;
    }
}
  
/*
*
*
*
*
*
*
*
/****** Extra extra small devices (s6 mobiles, 320px and below) *******/
@media (max-width: 320px) {
	.bmd-layout-content .outlet-avatar {
        left: 1%;
    }
}

/****** Extra extra small devices (s6 mobiles, 375px and below) *******/
@media (min-width: 321px) and (max-width: 376px) {
	.bmd-layout-content .outlet-avatar{
        left: 9%;
    }
}
