.cover{
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.cover-svg{
    width:100%; 
    height:auto;
}

.pro-pic{
    background-color: white;
    border-radius: 20px;
}

.profile-img {
    width: 300px;
    height: 300px;
    background: #fff;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #e7e7e7;
    margin: auto;
}

.profile-img img {
    border-radius: 50%;
    width: 100%;
}

.mt--200-img {
    margin-top: -200px !important;
}

.mt--200-div {
    margin-top: -200px !important;
}

.icon-font{
    font-size:20px;
    padding: 12px 0;
}

.social-profile{
    overflow: hidden;
}

.social-profile li {
    float: left;
    list-style: none;
    padding: 0 5px;
}

.avatar{
    overflow: hidden;
}

.avatar img {
    float: left;
    width: 80px;
    height: 80px;
}

.avatar .owner {
    margin: 20px 0 0 20px;
    float: left;
}


.product__photo {
    position: relative;
}

.photo-container {
    display: grid;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.photo-main img, .photo-album li img{
    max-width: 100%;
}


.photo-album {
    padding: 0.7em 1em;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
}

.photo-album ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;
}

.photo-album li {
    float: left;
    width: 80px;
    height: 80px;
    padding: 7px;
    border-radius: 3px;
	list-style: none;
    cursor: pointer;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .profile-img {
        width: 200px;
        height: 200px;
    }

    .mt--200-img {
        margin-top: -300px !important;
    }

    .mt--200-div {
        margin-top: 0px !important;
    }

    .social-profile {
        overflow: hidden;
        width: 80%;
        margin: 10px auto;
    }

    .pt-xs-100{
        padding-top: 100px;
    }

    .photo-container {
        display: block;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .profile-img {
        width: 200px;
        height: 200px;
    }

    .mt--200-img {
        margin-top: -250px !important;
    }

    .mt--200-div {
        margin-top: -80px !important;
    }

    .social-profile {
        overflow: hidden;
        width: 60%;
        margin: 10px auto;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .profile-img {
        width: 200px;
        height: 200px;
    }

    .mt--200-img {
        margin-top: -150px !important;
    }

    .mt--200-div {
        margin-top: -80px !important;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .mt--200-div {
        margin-top: -100px !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1441.98px){
    .mt--200-div {
        margin-top: -150px !important;
    }
}
  
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1442px) {
    
}