.product-categories li {
    padding: 4px 0;
    margin: 0;
    list-style: none;
    padding-bottom: 15px;
}

.product-categories li a {
    text-decoration: none;
    color: #2D2E2F;
}

.product-categories li span {
    float: right;
}

.bmd-layout-content, .bmd-layout-drawer  {
    overflow-y: hidden;
}

.navbar {
    box-shadow: none;
}

.list-group {
    padding: .5rem .5rem;
}

.list-group-item:last-child {
    background: #D3DBF2;
}

.bmd-layout-drawer>header {
    padding: 0;
}

