.products-slick{
	margin-left: 5%;
}

.brand-snippet {
	padding: 40px 0 0 25px;
}

.cards {
	position: relative;
	height: 700px;
	margin-right: 10px;
    
}

.outlet-avatar {
	background-color: #000;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    margin: 10px;
    max-width: 250px;
    max-height: 250px;
    overflow: hidden;
    position: absolute;
    left: 10px;
    top: 23%;
    text-align: center;
    width: 100%;
    z-index: 1;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #000000;
}

.outlet-avatar img {
	vertical-align: top;
	max-width: 100%;
	backface-visibility: hidden;
}

.outlet-avatar:hover > img,
.outlet-avatar.hover > img {
	opacity: 0.7;
}

.outlet-avatar:hover:before,
.outlet-avatar.hover:before,
.outlet-avatar:hover:after,
.outlet-avatar.hover:after {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.outlet-avatar:hover figcaption,
.outlet-avatar.hover figcaption {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.card_in {
    position: absolute;
    top: 150px;
    width: 90%;
    background: transparent;
    box-shadow: 6px 6px 14px 0 rgb(0 0 0 / 20%), -8px -8px 18px 0 rgb(255 255 255 / 55%);
    border-radius: 40px;
    padding: 4px 30px 20px;
}

.card_top {
	background-color: #fcab10;
	width: 100%;
	height: 270px;
	border-top-left-radius: 50px;
	float: left;
}

.card_left {
	background-color: #fcab10;
	width: 50%;
	height: 280px;
	border-top-left-radius: 50px;
	float: left;
}

.card_right {
	width: 50%;
	min-height: 280px;
	border-top-right-radius: 50px;
	float: right;
}

.card_below {
    background-color: #CCDEE2;
    width: 100%;
    float: left;
    padding: 5% 7%;
    border-radius: 0 0 10px 30px;
}

.card_below_left h4 {
	padding-top: 20px;
}

.card_below_left p {
	font-size: 10px;
	font-weight: 200;
	text-transform: none;
	letter-spacing: 1px;
}

.card_below_right {
	width: 20%;
	float: right;
}

.icon-item {
    width: 50%;
    margin-left: auto;
    margin-top: 80%;
    position: relative;
    z-index: 1;
}

.chart {
	border-radius: 10px;
	display: block;
	margin-top: 10px;
}

.chart button {
    width: 100%;
	background-color: transparent;
	border-radius: 10px;
	background-color: black;
	color: white;
}

.chart button a i {
	color: white;
}

.chart button a:focus {
	outline: none;
}

.card_right .chart button:focus {
	outline: none;
}

.slick-prev:before {
	content: "\f104";
    font-family: FontAwesome;
    font-size: 40px;
    color: black;
    padding: 50%;
    position: absolute;
    border-radius: 200px;
    border: 2px solid;
}

.slick-next:before {
	content: "\f105";
    font-family: FontAwesome;
    font-size: 40px;
    color: black;
    padding: 50%;
    position: absolute;
    right: 5%;
    border-radius: 200px;
    border: 2px solid;
}

.slick-prev {
    left: -100px;
}

.slick-next {
    right: -60px;
}

.slick-slide:focus {
	outline: none;
}

.slick-dots {
    bottom: 25px;
}

.slick-dots li button:before {
    font-size: 20px;
    opacity: 1;
    color: #fcab10;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .card_in {
        width: 75%;
    }

    .products-slick {
        margin-left: 15%;
    }

    .slick-next {
        right: 50px;
    }
}

/* Medium devices(sm) (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .card_in {
        width: 75%;
    }

    .products-slick {
        margin-left: 15%;
    }

    .slick-next {
        right: 50px;
    }
}

/* Large devices(md) (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .products-slick {
        margin-left: 0;
    }

    .card_in {
        width: 98%;
    }

    .card_in {
        padding: 4px 22px 20px;
    }

    .slick-prev {
        left: -50px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1441.98px){
    .card_in {
        width: 85%;
    }
}
  
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1442px) {
    
}